<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msds.km.mapper.AdminMapper">
	<!-- Result Map -->
	<resultMap id="ResultMap" type="com.msds.km.entity.AdminEntity">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="password" property="password" />
		<result column="nick_name" property="nickName" />
		<result column="create_date" property="createDate" />
		<result column="modify_date" property="modifyDate" />
	</resultMap>

	<!-- nb_admin 字段 -->
	<sql id="Column_List">
		nb_admin.id,nb_admin.name,nb_admin.password,nb_admin.nick_name,nb_admin.create_date,nb_admin.modify_date
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and nb_admin.id = #{id}
			</if>
			<if test="name != null and name != ''">
				and nb_admin.name = #{name}
			</if>
			<if test="password != null and password != ''">
				and nb_admin.password = #{password}
			</if>
			<if test="nickName != null and nickName != ''">
				and nb_admin.nick_name = #{nickName}
			</if>
			<if test="createDate != null and createDate != ''">
				and nb_admin.create_date = #{createDate}
			</if>
			<if test="modifyDate != null and modifyDate != ''">
				and nb_admin.modify_date = #{modifyDate}
			</if>
		</trim>
	</sql>
	
		<!-- like查询条件 -->
	<sql id="Like_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and nb_admin.id = #{id}
			</if>
			<if test="name != null and name != ''">
				and nb_admin.name like CONCAT('%',#{name},'%')
			</if>
			<if test="password != null and password != ''">
				and nb_admin.password like CONCAT('%',#{password},'%')
			</if>
			<if test="nickName != null and nickName != ''">
				and nb_admin.nick_name like CONCAT('%',#{nickName},'%')
			</if>
			<if test="createDate != null and createDate != ''">
				and nb_admin.create_date like CONCAT('%',#{createDate},'%')
			</if>
			<if test="modifyDate != null and modifyDate != ''">
				and nb_admin.modify_date like CONCAT('%',#{modifyDate},'%')
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		insert into nb_admin(id,name,password,nick_name,create_date,modify_date)
 values(#{id},#{name},#{password},#{nickName},#{createDate},#{modifyDate})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update nb_admin set 
	<trim  suffixOverrides="," >
	<if test="name != null  ">
		name=#{name},
	</if>
	<if test="password != null  ">
		password=#{password},
	</if>
	<if test="nickName != null  ">
		nick_name=#{nickName},
	</if>
	<if test="createDate != null  ">
		create_date=#{createDate},
	</if>
	<if test="modifyDate != null  ">
		modify_date=#{modifyDate},
	</if>
	</trim> where id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete 	 from nb_admin where id = #{id}
	</delete>
	
	<!-- 查询用户 -->
	<select id="findByAdmin" resultMap="ResultMap"
		parameterType="Object">
		select 
		<include refid="Column_List" />
		from nb_admin 
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 根据id查询 -->
	<select id="findById" resultMap="ResultMap" parameterType="Object">
		select <include refid="Column_List" /> 
	 from nb_admin where id = #{id}
	</select>

	<!-- 查询列表 -->
	<select id="findListByCondition" resultMap="ResultMap"
		parameterType="Object">
		select 
		<include refid="Column_List" />
		from nb_admin 
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from nb_admin 
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询分页列表 -->
	<select id="queryByList" resultMap="ResultMap" parameterType="Object">
		select 
		<include refid="Column_List" />
		from nb_admin 
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition} 
		</if>
		<if test="pager.queryCondition != null and pager.queryCondition != ''">
			${pager.queryCondition}
		</if>
	</select>

</mapper>   
