<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msds.km.mapper.FactoryCardMapper">
	<!-- Result Map -->
	<resultMap id="ResultMap" type="com.msds.km.entity.FactoryCardEntity">
		<result column="id" property="id" />
		<result column="card_no" property="cardNo" />
		<result column="factory_id" property="factoryId" />
		<result column="create_date" property="createDate" />
		<result column="modify_date" property="modifyDate" />
	</resultMap>

	<!-- nb_factory_card 字段 -->
	<sql id="Column_List">
		nb_factory_card.id,nb_factory_card.card_no,nb_factory_card.factory_id,nb_factory_card.create_date,nb_factory_card.modify_date
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and nb_factory_card.id = #{id}
			</if>
			<if test="cardNo != null and cardNo != ''">
				and nb_factory_card.card_no = #{cardNo}
			</if>
			<if test="factoryId != null and factoryId != ''">
				and nb_factory_card.factory_id = #{factoryId}
			</if>
			<if test="createDate != null and createDate != ''">
				and nb_factory_card.create_date = #{createDate}
			</if>
			<if test="modifyDate != null and modifyDate != ''">
				and nb_factory_card.modify_date = #{modifyDate}
			</if>
		</trim>
	</sql>
	
		<!-- like查询条件 -->
	<sql id="Like_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and nb_factory_card.id = #{id}
			</if>
			<if test="cardNo != null and cardNo != ''">
				and nb_factory_card.card_no like CONCAT('%',#{cardNo},'%')
			</if>
			<if test="factoryId != null and factoryId != ''">
				and nb_factory_card.factory_id like CONCAT('%',#{factoryId},'%')
			</if>
			<if test="createDate != null and createDate != ''">
				and nb_factory_card.create_date like CONCAT('%',#{createDate},'%')
			</if>
			<if test="modifyDate != null and modifyDate != ''">
				and nb_factory_card.modify_date like CONCAT('%',#{modifyDate},'%')
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		insert into nb_factory_card(id,card_no,factory_id,create_date,modify_date)
 values(#{id},#{cardNo},#{factoryId},#{createDate},#{modifyDate})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update nb_factory_card set 
	<trim  suffixOverrides="," >
	<if test="cardNo != null  ">
		card_no=#{cardNo},
	</if>
	<if test="factoryId != null  ">
		factory_id=#{factoryId},
	</if>
	<if test="createDate != null  ">
		create_date=#{createDate},
	</if>
	<if test="modifyDate != null  ">
		modify_date=#{modifyDate},
	</if>
	</trim> where id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete 	 from nb_factory_card where id = #{id}
	</delete>

	<!-- 根据id查询 -->
	<select id="findById" resultMap="ResultMap" parameterType="Object">
		select <include refid="Column_List" /> 
	 from nb_factory_card where id = #{id}
	</select>
	
	<select id="findByFactoryCard" resultMap="ResultMap" parameterType="Object">
			SELECT
			<include refid="Column_List" /> 
		FROM
			nb_factory_card
		WHERE
			nb_factory_card.factory_id =  #{factoryId}
		AND nb_factory_card.card_no NOT IN (
			SELECT DISTINCT
		nb_factory_car.card_no
	FROM
		nb_factory_car
	WHERE
		nb_factory_car.factory_id = #{factoryId}
	AND nb_factory_car.state = 1
		) order by nb_factory_card.card_no asc
	</select>

	<!-- 查询列表 -->
	<select id="findListByCondition" resultMap="ResultMap"
		parameterType="Object">
		select 
		<include refid="Column_List" />
		from nb_factory_card 
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from nb_factory_card 
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询分页列表 -->
	<select id="queryByList" resultMap="ResultMap" parameterType="Object">
		select 
		<include refid="Column_List" />
		from nb_factory_card 
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition} 
		</if>
		<if test="pager.queryCondition != null and pager.queryCondition != ''">
			${pager.queryCondition}
		</if>
	</select>

</mapper>   
